// Atoms

// Content:
// - input_style1
// - button_style1



// input_style1
.input_style1{
  @extend %font-stack-regular;
  padding: 10px;
  margin: 0 0 5px 0;
  text-align: center;
  border: 1px solid $input-brd;
  color: $neutral_black;
  &::placeholder{
    @extend %font-stack-regular;
    font-size: 18px;
    text-align: center;
    color: $input_placeholder;
  }
}



.button_style1 {
  @extend %font-stack-light;
  color: $neutral-white;
  padding: 10px;
  background-color: $primary_color;
  border: none;
  border-radius: 4px;
}
