// Layout

// Content:
// - variables
// - box-sizing
// - max_width_container
// - l-main_header
// - l-main_footer
// - l-main_article



// variables
$l-main_header-height: 100px;
$l-main_footer-height: 80px;
$max_width_container-width: 1360px;
$gutter: 50px;



// box-sizing
*{
  box-sizing: border-box;
}



// max_width_container
.max_width_container{
  margin: auto;
  max-width: $max_width_container-width;
}



// l-main_header
.l-main_header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: $l-main_header-height;
  background-color: rgba(255, 255, 255, 0.5);
  .l-main_header__logo{
    padding-top: 15px;
    opacity: 1;
    padding-left: $gutter;
  }
  .l-main_header__nav{
    float: right;
    margin-top: 50px;
    padding-right: $gutter;
    ul{
      list-style: none;
      li{
        @extend %font-stack-light;
        display: inline-block;
        margin-left: 35px;
        font-size: 18px;
        a:link, a:visited{
          color: $neutral_black;
          text-decoration: none;
        }
      }
    }
    @include smartphone{
      margin-top: 0px;
      ul{
        li{
          margin-top: 15px;
          display: block;
        }
      }
    }
  }
}



// l-main_footer
.l-main_footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: $l-main_footer-height;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00319f+0,00a4ff+100 */
  background: #00319f;
  background: -moz-linear-gradient(top, #00a4ff 0%, #00319f 100%);
  background: -webkit-linear-gradient(top, #00a4ff 0%,#00319f 100%);
  background: linear-gradient(to bottom, #00a4ff 0%,#00319f 100%);
  color: $neutral_white;
  .l-main_footer__version {
    @extend %font-stack-light;
    margin-top: 15px;
    font-size: 11px;
    line-height: 1.5em;
    text-align: center;
  }
}



// l-main_article
.l-main_article{
  position: absolute;
  top: $l-main_header-height;
  bottom: $l-main_footer-height;
  left: 0;
  width: 100vw;
  overflow-y: auto;
  padding: 30px;
  @include tablet-portrait{
    padding: 10px;
  }
}
