// Palette

// Content:
// - palette

// palette
$neutral_white:          #FFFFFF !default;
$neutral_black:          #00057A !default;

$primary_color:          #00A4FF !default;
$danger_color:           #D0021B !default;
$button_call_color:      #D20000 !default;

$input-brd:              #EAEAEA !default;
$input_placeholder:      #C9C9C9 !default;
