// Tools

// Content:
// - align properties
// - visibility properties



// align properties
.text-right{
  text-align: right;
}
.text-centered{
  text-align: center;
}



// visibility properties
.display-none{
  display: none;
}
