// Typography

// Content:
// - font-face



// font-face
@font-face {
  font-family: 'YanoneKaffeesatz-ExtraLight';
  src: url('/assets/fonts/YanoneKaffeesatz-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/YanoneKaffeesatz-ExtraLight.ttf')  format('truetype'),
       url('/assets/fonts/YanoneKaffeesatz-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'YanoneKaffeesatz-Light';
  src: url('/assets/fonts/YanoneKaffeesatz-Light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/YanoneKaffeesatz-Light.ttf')  format('truetype'),
       url('/assets/fonts/YanoneKaffeesatz-Light.woff') format('woff');
}
@font-face {
  font-family: 'YanoneKaffeesatz-Regular';
  src: url('/assets/fonts/YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/YanoneKaffeesatz-Regular.ttf')  format('truetype'),
       url('/assets/fonts/YanoneKaffeesatz-Regular.woff') format('woff');
}

$font-stack-extralight: 'YanoneKaffeesatz-ExtraLight', Helvetica, Arial, sans-serif;
$font-stack-light: 'YanoneKaffeesatz-Light', Helvetica, Arial, sans-serif;
$font-stack-regular: 'YanoneKaffeesatz-Regular', Helvetica, Arial, sans-serif;

%font-stack-extralight {
  font-family: $font-stack-extralight;
}
%font-stack-light {
  font-family: $font-stack-light;
}
%font-stack-regular {
  font-family: $font-stack-regular;
}



html{
  height: 100%;
}
body{
  font-family: $font-stack-regular;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,c8e3fb+100 */
  background: $neutral_white;
  background: -moz-radial-gradient(center, ellipse cover, $neutral_white 0%, #c8e3fb 100%);
  background: -webkit-radial-gradient(center, ellipse cover, $neutral_white 0%,#c8e3fb 100%);
  background: radial-gradient(ellipse at center, $neutral_white 0%,#c8e3fb 100%);
}



strong{
  font-weight: bold;
}



hr{
  display: none;
}
