// Homepage

// Content:
// - import global styles
// - form_login
// - description



// import global styles
@import "../../../assets/scss/styles";



// form_login
.form_login{
  background-color: $neutral_white;
  width: 50%;
  margin: 25px auto 50px auto;
  padding: 25px;
  text-align: center;
  @include desktop{
    width: 80%;
  }
  @include tablet-portrait{
    width: 100%;
  }
  .form_login__title{
    @extend %font-stack-light;
    font-size: 28px;
    margin-top: 0px;
    padding-bottom: 20px;
    color: $neutral_black;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  input[type=text]{
    @extend .input_style1;
    margin-bottom: 15px;
    width: 70%;
  }
  button {
    @extend .button_style1;
    display: block;
    margin: 10px auto 10px auto;
    width: 80px;
  }

}



// description
.description{
  color: $neutral_black;
  font-size: 20px;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}
