// Homepage

// Content:
// - import global styles
// - form_login
// - description



// import global styles
@import "../../../assets/scss/styles";



// form_login
.form_login{
  background-color: $neutral_white;
  width: 50%;
  margin: 50px auto 50px auto;
  padding: 25px;
  .form_login__title{
    @extend %font-stack-light;
    font-size: 28px;
    margin-top: 0px;
    padding-bottom: 20px;
    color: $neutral_black;
    text-transform: uppercase;
    text-align: center;
  }
  input[type=text]{
    display: block;
    padding: 10px;
    margin: 20px auto 20px auto;
    width: 300px;
    border: 1px solid gainsboro;
  }
  input[type=text]::placeholder{
    @extend %font-stack-regular;
    font-size: 18px;
    text-align: center;
    color: gainsboro;
  }
  button {
    @extend %font-stack-light;
    display: block;
    margin: auto;
    color: $neutral-white;
    width: 80px;
    padding: 10px;
    background-color: #00a4ff;
    border: 0px;
    border-radius: 2px;
  }

}



// description
.description{
  color: $neutral_black;
  font-size: 20px;
  text-align: center;
}
