<header class="l-main_header">
  <div class="max_width_container">
    <img src="assets/img/logo-vtc-conf.svg" alt="VTC Conf" class="l-main_header__logo" />
    <nav class="l-main_header__nav">
      <ul>
        <li><a href="#" routerLink="/change-log">Change Log</a></li>
        <li><a href="#" routerLink="/credits">Credits</a></li>
      </ul>
    </nav>
  </div>
</header>
<hr />
<article class="l-main_article">
  <div class="max_width_container">
    <form class="form_login">
      <h1 class="form_login__title">Open a topic room</h1>
      <input type="text" placeholder="Topic..." />
      <input type="text" placeholder="Nickname..." />
      <button type="submit" routerLink="/room">Go</button>
    </form>
    <p class="description">
      VTC Conf is a conference call room generator based on WebRTC <br />
      Let people know what are you speaking about! <br />
      Join in and share your topic. It's free!
    </p>
  </div>
</article>
<hr />
<footer class="l-main_footer">
  <div class="max_width_container">
    <p class="l-main_footer__version">
      VTC Conf 2018<br />
      v1.0
    </p>
  </div>
</footer>
