<header class="l-main_header">
  <div class="max_width_container">
    <img src="assets/img/logo-vtc-conf.svg" alt="VTC Conf" class="l-main_header__logo" />
    <nav class="l-main_header__nav">
      <ul>
        <li><a href="#" routerLink="/change-log">Change Log</a></li>
        <li><a href="#" routerLink="/credits">Credits</a></li>
      </ul>
    </nav>
  </div>
</header>
<hr />
<article>
  <form>
    <h1>Open a topic room</h1>
    <input type="text" placeholder="Topic..." />
    <input type="text" placeholder="Nickname..." />
    <button type="submit" routerLink="/room">Go</button>
  </form>
  <p>
    VTC Conf is a conference call room generator based on WebRTC <br />
    Let people know what are you speaking about! <br />
    Join in and share your topic. It's free!
  </p>
</article>
<hr />
<footer>
  <p>
    VTC Conf 2018<br />
    v1.0
  </p>
</footer>
