<h1>Topic page</h1>

Il topic di questa call è: {{ topic }}<br />
I nomi dei partecipanti sono: {{ nickname }}<br /><br />

<div>
  <video volume="0" #localVideo autoplay="true" playsinline></video>
</div>
<div>
  <video #remoteVideo autoplay="true" playsinline></video>
</div>

<button routerLink="/">
  back to homepage
</button>
<br /><br />

<button (click)="toggleVideo()">
  Show/hide Cam
</button>
<br /><br />

<button (click)="toggleAudio()">
Activate/deactivate Mic
</button>
<br /><br />

<button (click)="stopStream()">
Close call
</button>
