<header class="room_header">
  <img src="assets/img/logo-vtc-conf.svg" alt="VTC Conf" class="room_header__logo"/>
  <button class="room_header__button" routerLink="/">
    Homepage
  </button>
  <h1 class="room_header__topic">
    <span>speaking about:</span>
    {{ topic }}
  </h1>
</header>
<hr />
<article class="room_content">
  <div class="room_content__local_video">
    <p class="room_content__local_video__nickname">{{ nickname }}</p>
    <video volume="0" #localVideo autoplay="true" playsinline></video>
  </div>
  <div class="room_content__remote_video m-no_stream">
    <p>Guest</p>
    <video #remoteVideo autoplay="true" playsinline></video>
  </div>
</article>
<hr />
<footer class="room_footer">
  <button class="button_web" (click)="toggleVideo()">
    <span>Show/hide Cam</span>
  </button>
  <button class="button_call" (click)="stopStream()">
    <span>Close call</span>
  </button>
  <button class="button_mic" (click)="toggleAudio()">
    <span>Activate/deactivate Mic</span>
  </button>
</footer>
