// Room Page

// Content:
// - import global styles
// - room_header
// - room_content
// - room_footer
// - buttons



// import global styles
@import "../../../assets/scss/palette";
@import "../../../assets/scss/typography";
@import "../../../assets/scss/atoms";



// room_header
$room_header-height: 50px;
.room_header{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px 5px 15px;
  width: 100vw;
  height: $room_header-height;
  background-color: rgba(0, 117, 200, 0.4);
  .room_header__logo{
    float: left;
    width: 36px;
    height: 42px;
  }
  .room_header__topic{
    @extend %font-stack-light;
    margin: 0 150px 0 150px;
    color: $neutral_black;
    font-size: 24px;
    text-align: center;
    span{
      @extend %font-stack-extralight;
      font-size: 14px;
      display: block;
    }
  }
  .room_header__button{
    @extend .button_style1;
    float: right;
  }
}



// room_content
.room_content{
  position: absolute;
  top: $room_header-height;
  left: 0;
  width: 100vw;
  height: calc(100% - #{$room_header-height});
  overflow-y: auto;
  .room_content__local_video{
    position: relative;
    margin-top: 40px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    video{
      display: block;
      width: 100%;
    }
    .room_content__local_video__nickname{
      position: absolute;
      color: $neutral_black;
      padding: 5px 10px;
      margin: 0;
      width: 100%;
      background-color: rgba(74, 144, 226, 0.4);
      height: 30px;
      font-size: 18px;
    }
  }
  .room_content__remote_video{
    @extend .room_content__local_video;
    float: right;
    &.m-no_stream{
      display: none;
    }
  }
}



// room_footer
$footer-width: 230px;
.room_footer{
  position: absolute;
  width: $footer-width;
  height: 48px;
  text-align: center;
  left: calc(50% - #{$footer-width}/2);
  bottom: 0px;
  background-color: rgba(74, 144, 226, 0.4);
}



// button_call
.button_call{
  position: relative;
  display: inline-block;
  top: -10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
  background: $button_call_color url('../../../assets/img/ico_call.svg') no-repeat 50% 50%;
  border: none;
  outline: none;
  height: 45px;
  width: 45px;
  span{
    display: none;
  }
}



// buttons
@mixin controller_button{
  position: relative;
  display: inline-block;
  top: -7px;
  background-color: transparent;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  height: 45px;
  width: 45px;
  span{
    display: none;
  }
}

.button_mic{
  @include controller_button;
  background-image: url('../../../assets/img/ico_mic.svg');
}

.button_web{
  @include controller_button;
  background-image: url('../../../assets/img/ico_web.svg');
}
